<div class="w3-content" style="max-width: 100%;">
    <nav class="navbar navbar-light bg-blue fixed-top border-bottom pb-0">
        <div class="text-center m-auto">
            <a class="navbar-brand text-light text-center m-0 d-flex align-items-center" target="_blank" href="https://www.drtuananh.vn">
                <img src="/img/iconwhite/logo-white.png" alt="Logo viện thẩm mỹ bác sĩ Tuấn Anh" width="64" height="64">
                <div class="ms-3">
                    <h5 class="mb-0">BỆNH VIỆN THẨM MỸ</h5>
                    <small>BÁC SĨ TUẤN ANH</small>
                </div>
            </a>
        </div>
    </nav>
    <img src="/img/section1/1920X1080.png" alt="Công nghệ hút mỡ Vaser 8D - Sở hữu thân hình quyến rũ" class="w-100 mt-10-5rem">

    <div class="service-container bg-blue text-light border-bottom border-top">
        <div class="w3-panel text-center mt-0">
            <h4 class="services-title mt-5"><b>CÁC LOẠI DỊCH VỤ HÚT MỠ</b></h4>
            <p class="services-subtitle">Tại Dr.Tuấn Anh</p>
        </div>
        <div id="carouselExampleControlsNoTouching" class="carousel slide pb-3" data-bs-touch="true" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/belly.png" class="d-block m-auto border rounded-circle border-041434" style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ BỤNG</h5>
                        <p class="text-justify">Bụng là bộ phận dễ tích tụ mỡ. Công nghệ Vaser 8D giúp bạn dễ dàng loại bỏ đi lượng mỡ thừa nhanh chóng.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/back.png" class="d-block m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ LƯNG</h5>
                        <p class="text-justify">Là vùng khó giảm mỡ nhất bằng phương pháp tự nhiên. Cần phương pháp hút mỡ Vaser 8D xóa bỏ mỡ thừa nhanh chóng và hiệu quả.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/calf.png" class="d-block w-100 m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ BẮP CHÂN</h5>
                        <p class="text-justify">Là phương pháp thẩm mỹ giúp bạn loại bỏ được phần mỡ thừa. Giúp cải thiện chiều cao và tự tin khoe dáng.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/femoral.png" class="d-block w-100 m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ ĐÙI</h5>
                        <p>Là phương pháp loại bỏ mỡ thừa vùng đùi. Mỡ được phân tách và hóa lỏng sau đó hút ra ngoài.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/hand.png" class="d-block w-100 m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ TAY</h5>
                        <p>Là một cuộc phẫu thuật loại bỏ mỡ thừa ở vùng cánh tay, giúp bạn lấy lại cánh tay săn chắc, thon gọn.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/waist.png" class="d-block w-100 m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ EO SAU</h5>
                        <p>Là phương pháp giúp chị em lấy lại vòng eo thon gọn, hiệu quả vượt trội và phục hồi nhanh chóng.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000" style="min-height: 480px;">
                    <img src="/icon/image/armpit.png" class="d-block w-100 m-auto border rounded-circle border-041434"  style="max-width: 240px; max-height:240px;" alt="...">
                    <div class="carousel-caption text-light">
                        <h5>HÚT MỠ NÁCH</h5>
                        <p>Là phương pháp làm phân tách mỡ thành các phân tử nhỏ rồi sau đó hút ra ngoài nhằm loại bỏ mỡ vùng nách một cách hiệu quả nhất.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div class="row w3-center p-0 ps-3 pe-3 bg-blue border-bottom">
        <div class="w3-panel text-center">
            <h4 class="services-title text-light"><b>Khách hàng đã sử dụng dịch vụ hút mỡ tại Dr.Tuấn Anh</b></h4>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOBUNG.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOEO.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOLUNG.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOXOAILUNG.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOTAY.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMODUI.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMOBAPCHAN.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-3">
            <img src="/img/HUTMO/HUTMONACH.png" class="w3-margin-bottom w3-text-theme w-100 h-auto border rounded-1-5rem" alt="">
        </div>
    </div>

    <section id="counselor">
        <!-- Footer -->
        <footer class="w3-container w3-padding-32 bg-glass w3-center position-bottom">
            <h4 class="counselor-title mb-5"><b>TƯ VẤN MIỄN PHÍ</b></h4>
            <div class="container-form m-auto">
                <form id="counselor-form" action="/" method="POST">
                    <div class="form-group mb-3">
                        <label for="floatingFullName" class="pl-5 text-light mb-3">Họ và tên</label>
                        <input type="text" class="form-control pl-5 rounded-pill bg-transparent text-light" rules="required" id="floatingFullName"
                        name="nickName">
                        {{#if messages_account_failure}}
                        <span class="form-message text-danger mt-3">{{messages_account_failure}}</span>
                        {{else}}
                        <span class="form-message mt-3"></span>
                        {{/if}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="floatingPhone" class="pl-5 text-light mb-3">Số điện thoại</label>
                        <input type="text" class="form-control rounded-pill bg-transparent text-light" rules="required|max:10|phone" id="floatingPhone"
                        name="phone">
                        {{#if messages_password_failure}}
                        <span class="form-message text-danger mt-3">{{messages_password_failure}}</span>
                        {{else}}
                        <span class="form-message mt-3"></span>
                        {{/if}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="floatingTextarea2" class="text-light pl-5 mb-3">Thông tin cần tư vấn</label>
                        <textarea class="form-control rounded-pill bg-transparent text-light pl-5" name="require" id="floatingTextarea2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary rounded-pill border text-light">Đặt lịch hẹn</button>
                </form>
            </div>
            <a href="#" class="w3-button bg-glass text-light border rounded-pill w3-margin mt-5"><i class="fa fa-arrow-up w3-margin-right"></i>Lên đầu trang</a>
            <div class="w3-xlarge w3-section">
                <a href="https://www.facebook.com/VienThamMy.TuanAnh/">
                    <i class="fa fa-facebook-official w3-hover-opacity text-light"></i>
                </a>
                <a href="https://instagram.com/drtuananhthammy?igshid=YmMyMTA2M2Y=">
                    <i class="fa fa-instagram w3-hover-opacity text-light"></i>
                </a>
                <a href="https://pin.it/1R1h0HS">
                    <i class="fa fa-pinterest-p w3-hover-opacity text-light"></i>
                </a>
            </div>
            <p class=" text-light">Copyright @<a href="https://www.drtuananh.vn" title="Hachitech" target="_blank" class="w3-hover-text-green">Hachitech</a></p>
        </footer>
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0 position-relative">
                <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <img class="w-100 popup-img" src="/img/popup.png" alt="">
            </div>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
<script>
    validate('#counselor-form');
    var popup = document.querySelector('#popup');
    const popupTimeout = setTimeout(openPopup, 8000);

    function openPopup() {
        $(popup).addClass('pr-0');
        $(popup).modal('show');
    }
</script>