<div class="w3-content" style="max-width: 100%;margin-bottom:80px">
    <section id="intro">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="/img/section1/poster1920x1080.png" style="width:100%;">
                {{!-- <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span>
                </div> --}}
            </div>
        </div>
    </section>

    <section id="advantages">
        <!-- Slideshow -->
        <div class="w3-container position-relative">
            <div class="w3-display-container mySlides">
            <img src="/img/muc2/slide1.png" style="width:100%">
            <div class="w3-display-topleft w3-container w3-padding-32">
                {{!-- <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span> --}}
            </div>
            </div>
            <div class="w3-display-container mySlides">
            <img src="/img/muc2/SLIDE2-FIX.png" style="width:100%">
            <div class="w3-display-middle w3-container w3-padding-32">
                {{!-- <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span> --}}
            </div>
            </div>
            <div class="w3-display-container mySlides">
            <img src="/img/muc2/slide3.png" style="width:100%">
            <div class="w3-display-topright w3-container w3-padding-32">
                {{!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> --}}
            </div>
            </div>

            <!-- Slideshow next/previous buttons -->
            <div class="w3-container w3-display-bottommiddle w3-transparent w3-padding w3-xlarge w-100">
                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal text-light fs-1"></i></div>
                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal text-light fs-1"></i></div>
            
                <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-indigo w3-hover-black" onclick="currentDiv(1)"></span>
                    <span class="w3-tag demodots w3-border w3-indigo w3-hover-black" onclick="currentDiv(2)"></span>
                    <span class="w3-tag demodots w3-border w3-indigo w3-hover-black" onclick="currentDiv(3)"></span>
                </div>
            </div>
        </div>
    </section>
    
    <section id="subject">
        <div class="container-fluid">
            <!-- Grid -->
            <div class="w3-row w3-container">
                <div class="w3-center padding78-64">
                    <h3 class="w3-border-dark-grey w3-padding-16 subject-title text-light"><b>ĐỐI TƯỢNG PHÙ HỢP</b></h3>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square1.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Nam và nữ trên 18 tuổi có nhu cầu hút mỡ.</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square2.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Tự ti vì ngoại hình không hấp dẫn.</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square3.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Khó cải thiện vóc dáng bằng cách ăn kiêng và tập thể thao.</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square7.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Làm việc trong môi trường ít vận động, ngồi nhiều dễ tích tụ mỡ thừa như nhân viên văn phòng…</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square4.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Không gặp các vấn đề sức khỏe như bệnh tiểu đường, huyết áp, tim mạch, máu khó đông…</p>
                    </div>
                </div>
                
                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square5.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Không sử dụng các chất kích thích, rượu bia, thuốc lá…</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square6.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Không sử dụng các loại thuốc làm tăng nguy cơ chảy máu.</p>
                    </div>
                </div>

                <div class="w3-col l3 m6 w3-transparent w3-container w3-padding-16 subject-container">
                    <img src="/img/square/square8.png" alt="" class="d-block wh-250 m-auto">
                    <div class="overlay">
                        <p class="text-light p-3">Phụ nữ sau sinh trên 6 tháng và không trong giai đoạn cho con bú.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="w3-panel text-light text-center pt-5rem">
            <h3 class="services-title"><b>CÁC LOẠI DỊCH VỤ HÚT MỠ</b></h3>
            <p class="services-subtitle">Tại Dr.Tuấn Anh</p>
        </div>
        <!-- Slideshow -->
        <div class="w3-container pt-5rem">
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/belly.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ bụng</h3>
                            <p>Bụng là bộ phận dễ tích tụ mỡ. Công nghệ Vaser 8D giúp bạn dễ dàng loại bỏ đi lượng mỡ thừa nhanh chóng.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/waist.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ eo</h3>
                            <p>Là phương pháp giúp chị em lấy lại vòng eo thon gọn, hiệu quả vượt trội và phục hồi nhanh chóng.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/back.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ lưng</h3>
                            <p>Là vùng khó giảm mỡ nhất bằng phương pháp tự nhiên. Cần phương pháp hút mỡ Vaser 8D xóa bỏ mỡ thừa nhanh chóng và hiệu quả.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/hand.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ tay</h3>
                            <p>Là một cuộc phẫu thuật loại bỏ mỡ thừa ở vùng cánh tay, giúp bạn lấy lại cánh tay săn chắc, thon gọn.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/calf.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ bắp chân</h3>
                            <p>Là phương pháp thẩm mỹ giúp bạn loại bỏ được phần mỡ thừa. Giúp cải thiện chiều cao và tự tin khoe dáng.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/femoral.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ đùi</h3>
                            <p>Là phương pháp loại bỏ mỡ thừa vùng đùi. Mỡ được phân tách và hóa lỏng sau đó hút ra ngoài.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-display-container section4 text-center">
                <img src="/icon/image/armpit.png" class="wh-250 m-auto">
                <div class="w3-display-bottom w3-container w3-padding-32">
                    <ul class="w3-ul w3-padding-large w3-animate-bottom">
                        <li class="text-light">
                            <h3>Hút mỡ nách</h3>
                            <p>là phương pháp làm phân tách mỡ thành các phân tử nhỏ rồi sau đó hút ra ngoài nhằm loại bỏ mỡ vùng nách một cách hiệu quả nhất.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Slideshow next/previous buttons -->
            <div class="w3-container w3-padding w3-xlarge w-100">
                <div class="w3-left" onclick="plusSection4(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal text-light fs-1"></i></div>
                <div class="w3-right" onclick="plusSection4(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal text-light fs-1"></i></div>
                <div class="w3-center">
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(1)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(2)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(3)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(4)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(5)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(6)"></span>
                    <span class="w3-tag section4dots w3-border w3-transparent w3-hover-white" onclick="currentSection4(7)"></span>
                </div>
            </div>
        </div>
    </section>

    <section id="warning" class="text-light bg-blue position-relative">
        <h3 class="warning-heading"><b>LƯU Ý!!!</b></h3>
        <div class="container pb-3">
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-01.png" alt="Avatar">
                    <p>Vệ sinh vết thương sạch sẽ, thường xuyên.</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-02.png" alt="Avatar">
                    <p>Sau 24h hút mỡ, sinh hoạt hằng ngày, di chuyển vận động nhẹ nhàng.</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-03.png" alt="Avatar">
                    <p>Mặc áo chỉnh hình, đeo băng ép, đeo gen nịt trong 1-2 tuần sau hút mỡ</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-04.png" alt="Avatar">
                    <p>Chế độ ăn uống và tập luyện theo chỉ định của bác sĩ</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-05.png" alt="Avatar">
                    <p>Uống thuốc và tái khám theo chỉ định bác sĩ</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-06.png" alt="Avatar">
                    <p>Trường hợp hút mỡ toàn thân, cần cân nhắc và khuyến cáo từ bác sĩ.</p>
                </div>
            </div>
            <div class="w-col">
                <div class="container-warning">
                    <img src="/img/section5/5-07.png" alt="Avatar">
                    <p>Hút mỡ không phải là phương pháp điều trị béo phì.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="counselor">
        <!-- Footer -->
        <footer class="w3-container w3-padding-32 bg-glass w3-center position-bottom">
            <div class="container text-center counselor-container mb-3">
                <h3 class="counselor-title mb-5"><b>TƯ VẤN MIỄN PHÍ</b></h3>
                <div class="container">
                    <form id="counselor-form" action="/" method="POST">
                        <div class="form-group mb-3">
                            <label for="floatingFullName" class="pl-5 text-light mb-3">Họ và tên</label>
                            <input type="text" class="form-control pl-5 rounded-pill bg-transparent text-light" rules="required" id="floatingFullName"
                            name="nickName">
                            {{#if messages_account_failure}}
                            <span class="form-message text-danger mt-3">{{messages_account_failure}}</span>
                            {{else}}
                            <span class="form-message mt-3"></span>
                            {{/if}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="floatingPhone" class="pl-5 text-light mb-3">Số điện thoại</label>
                            <input type="text" class="form-control rounded-pill bg-transparent text-light" rules="required|max:10|phone" id="floatingPhone"
                            name="phone">
                            {{#if messages_password_failure}}
                            <span class="form-message text-danger mt-3">{{messages_password_failure}}</span>
                            {{else}}
                            <span class="form-message mt-3"></span>
                            {{/if}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="floatingTextarea2" class="text-light pl-5 mb-3">Thông tin cần tư vấn</label>
                            <textarea class="form-control rounded-pill bg-transparent text-light pl-5" name="require" placeholder="Thông tin cần tư vấn" id="floatingTextarea2"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-primary rounded-pill border text-light">Đặt lịch hẹn</button>
                    </form>
                </div>
            </div>
            {{!-- <h4>Footer</h4> --}}
            <a href="#" class="w3-button bg-glass text-light border rounded-pill w3-margin mt-5"><i class="fa fa-arrow-up w3-margin-right"></i>Lên đầu trang</a>
            <div class="w3-xlarge w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity text-light"></i>
                <i class="fa fa-instagram w3-hover-opacity text-light"></i>
                <i class="fa fa-snapchat w3-hover-opacity text-light"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity text-light"></i>
                <i class="fa fa-twitter w3-hover-opacity text-light"></i>
                <i class="fa fa-linkedin w3-hover-opacity text-light"></i>
            </div>
            <p class=" text-light">Copyright @<a href="https://www.drtuananh.vn" title="Hachitech" target="_blank" class="w3-hover-text-green">Hachitech</a></p>
        </footer>
    </section>

</div>

<script src="/js/main.js"></script>
<script>
    validate('#counselor-form');
</script>