@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: none;
}

body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#logo {
    width: 5vh;
    height: 5vh;
}

.rounded-1-5rem {
    border-radius: 1.5rem !important;
}

.border-041434 {
    border-color: #041434 !important;
    border-style: solid !important;
    border-width: 1.5px !important;
}

.w3-container, .w3-panel {
    padding: 0.01em 0 !important;
}

.padding78-64 {
    padding-top: 56px !important;
    /* padding-bottom: 16px !important; */
}

.h-100vh {
    height: 100vh;
}

.mt-10-5rem {
    margin-top: 5.2rem!important;
}

.wh-250 {
    width: 30vh;
    height: 30vh;
}

.wh-inherit {
    width: inherit;
    height: inherit;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(4, 20, 52, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.bg-red-glass {
    background-color: rgba(255, 0, 0, 0.4);
}

.bg-blue-glass {
    background: rgba(4, 20, 52, 0.3);
    /* background-image: linear-gradient(135deg, #b57a02, #c3912f, #fdf17e, #fdf17e, #c3912f); */
}

.bg-blue {
    background: rgb(4, 20, 52);
}

.bg-brown {
    background-color: brown;
}

.bg-gold-yellow {
    background-image: linear-gradient(45deg, #b57a02, #c3912f, #fdf17e, #fdf17e, #c3912f);
}

.img-cover {
    object-fit: cover !important;
}

.service-item-title {
    font-size: 3vw;
    font-family: 'Nunito', sans-serif;
}

.service-item-subtitle {
    font-size: 2vw;
    font-family: 'Nunito', sans-serif;
}

.slide-pre-next {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#counselor {
    background-image: url("/img/b1.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position: center; */
}

#warning {
    background-image: url("/img/section5/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

.warning-heading {
    padding-top: 80px;
    color: #ffffff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.container-warning {
    border: groove;
    padding-right: 20px;
    margin: 10px 0;
    display: inline-flex;
    text-align:justify;
}
  
  
  /* Clear floats */
  .container-warning::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
.container-warning img {
    float: left;
    width: 10vh;
    height: 10vh;
    margin-right: 20px;
    border-radius: 50%;
    border-style: groove;
}

.container-warning p {
    display: inline-block;
    vertical-align: middle;
    margin: 16px 0;
    line-height: 24px;
    font-size: 100%;
}

.counselor-title {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    color: #fff;
    border-radius: 30px;
    background: transparent;
    border-color: #fff;
    border-style: solid;
}

.container-form {
    max-width: 50%;
}

.bg-glass {
    background: rgba(4, 20, 52, 0.3);
}

.off {
    display: none;
}

.on {
    display: block;
}

.popup-img {
    background-size: cover;
}

.close-popup {
    float: right;
    padding-top: 8px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container-service .service-heading {
        text-align: center;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .container-warning {
        display: inline-flex;
        padding-right: 20px;
        margin-left: 8px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 662px and up) */
@media only screen and (min-width: 662px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #logo {
        width: 4vw;
        height: 4vw;
    }

    .wh-250 {
        width: 15vw;
        height: 15vw;
    }

    .nav-item a {
        font-size: 1vw;
    }

    .subject-title {
        font-size: 3vw;
        font-family: 'Nunito', sans-serif;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(4, 20, 52, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
    }

    .services-title {
        text-align: center;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 3vw;
    }
    
    .services-subtitle {
        text-align: center;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 2vw;
    }

    .service-item-title {
        font-size: 2vw;
        font-family: 'Nunito', sans-serif;
    }
    
    .service-item-subtitle {
        font-size: 1vw;
        font-family: 'Nunito', sans-serif;
    }

    .warning-heading {
        font-size: 3vw;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
    }

    .container-warning p {
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
        margin: 16px 0;
        font-size: 100%;
    }
}

